*{
    margin: 0px;
}

html{
    height: 100%;
}

img
{
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

img:hover
{
    box-shadow: 2px 2px 8px #2e2e2e;
    transition: 0.4s;
}

p
{
    /*margin: 50px;*/
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 8px #2e2e2e;
    font-family: 'Franklin Gothic Medium';
    display: contents;
}

.Name
{
    color: #666666;
    /*font-family: 'Franklin Gothic Medium';*/
    font-size: smaller;
    /*display: contents;*/
}

.Name:hover
{
    color: #2e2e2e;
    cursor: pointer;
    transition: 0.2s;
}



body
{
    background-image: linear-gradient( #0046ae, #9198e5);
}

li
{
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
}